.card {
  position: relative;
  margin-bottom: 12px;
  vertical-align: top;
}

.card.small {
  display: inline-block;
  /*
  we put 12px between them. .small ones have three in a row.
  that leaves 2 gaps. 2 gaps of 12px is 24px. 24px split 3 ways is 8px.
  */
  width: calc(33.333% - 8px);
  margin-right: 12px;
}

.card-top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  margin: 9px;
  font-size: 12px;
}

@media (min-width: 821px) {
  .card.small:nth-child(4n+0) {
    margin-right: 0;
  }
}

@media (max-width: 820px) {
  .card.small {
    width: calc(50% - 6px);
  }

  .card.small:nth-child(2n+0) {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .card.small {
    width: 100%;
    margin-right: 0;
  }
}

.card.full-width {
  width: 100%;
}

.card-heading {
  margin: 0;
  padding: 9px 18px;
  text-transform: lowercase;
  font-size: 16px;
}

.card-footer {
  text-align: center;
  color: #21CABA;
  border-top: 1px solid rgba(151, 151, 151, 0.25);
}

.card-footer-link {
  display: inline-block;
  width: 50%;
  padding: 12px 0;
  letter-spacing: 0.5px;
  transition: background-color 120ms ease-out;
}

.card-footer-link:hover {
  background-color: #F8F8F8;
}

.card-section {
  margin: 0 18px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.25);
}

.card-section + .card-section {
  margin-top: 24px;
}

.card-section:last-child {
  border-bottom: none;
  padding-bottom: 8px;
}

.card .close-btn {
  position: absolute;
  right: 18px;
  top: 18px;
}
