@import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,700,700i");

/* stylelint-disable-next-line selector-max-universal */
* {
  box-sizing: border-box;
}

body {
  color: #606671;
  background-color: #F8F8F8;
  font-family: Nunito, sans-serif;
}

.fullscreen-background {
  width: 100vw;
  height: 100vh;
  background-color: #F8F8F8;
}

ul {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  /* stylelint-enable */
  list-style: none;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

a {
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"] {
  /* overriding default mobile safari styles */
  border-radius: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
}

input[type="radio"],
input[type="radio"] + label {
  cursor: pointer;
}

.clearfix {
  clear: both;
}

.btn {
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  font-weight: 200;
  padding: 8px 12px;
}

.btn-plain {
  background-color: transparent;
  border: none;
}

.btn-primary {
  background-color: #50E3C2;
}

.btn-pill {
  padding: 0 18px;
  display: inline-block;
  border: none;
  border-radius: 18px;
  height: 36px;
  outline: none;
  background: #21CABA;
  color: #FFF;
  font-weight: 200;
  letter-spacing: 1px;
  transition: color 120ms ease-out, background-color 120ms ease-out;
}

.btn-pill:hover:enabled {
  color: #FFF;
  background-color: #21CABA;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

@media (max-width: 820) {
  .container {
    padding: 0;
  }
}

.box-with-shadow {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(216, 216, 216, 0.6);
}

.ReactModal__Content {
  cursor: default;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  cursor: pointer;
  background: transparent;
  transition: background 180ms ease-out;
  z-index: 10;
}

.ReactModal__Overlay--after-open {
  background: rgba(248, 248, 248, 0.6);
}

.ReactModal__Overlay--before-close {
  background: transparent;
}

.simple-form input,
.simple-form select {
  width: 100%;
  font-size: 18px;
  outline: none;
}

.simple-form input[type="submit"] {
  display: block;
  padding: 0 18px;
  margin: 12px 0 24px;
  width: initial;
}

.simple-form input[type="text"],
.simple-form input[type="number"],
.simple-form input[type="email"],
.simple-form input[type="password"],
.simple-form select {
  border: none;
  border-bottom: 2px solid rgba(151, 151, 151, 0.25);
  color: #555;
  padding: 8px 0;
  border-radius: 0;
  background: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  transition: border-color 180ms ease-out;
}

.simple-form input:focus,
.simple-form select:focus {
  border-color: #21CABA;
}

.simple-form .select-wrapper {
  position: relative;
}

.simple-form .select-wrapper::after {
  position: absolute;
  content: "\25BC";
  color: #979797;
  font-size: 0.625em;
  line-height: 1;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.simple-form .input-icon-wrapper {
  position: relative;
  margin-bottom: 9px;
}

.simple-form .input-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.error {
  text-align: center;
}
